<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fcs.admin.mapper.UserRoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fcs.admin.entity.UserRole">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="roleid" property="roleid" />
	</resultMap>

	<select id="findRoleListByUserId" resultType="com.fcs.admin.entity.Role" parameterType="java.lang.Long">
		SELECT role.id,role.name from t_user_role urole left join t_role role on urole.roleid = role.id where userid = #{uid}
	</select>

</mapper>
